@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
:root {
  --primary: #fff;
  --secondary: #c40094;
  --tertiary: #09001d;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  color: var(--primary);
  background: var(--tertiary);
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: var(--primary);
  font-weight: 700;
  filter: drop-shadow(0 0 5px var(--tertiary));
}

.navbar a {
  font-size: 18px;
  color: var(--primary);
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
  color: var(--secondary);
}

.main {
  min-height: 100vh;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-content p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.home-content .start-btn {
  width: 190px;
  height: 55px;
  background: var(--secondary);
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px var(--secondary);
  font-size: 18px;
  color: var(--primary);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

.home-content .start-btn:hover {
  background: var(--tertiary);
  box-shadow: none;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: var(--primary);
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: var(--secondary);
}
.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: var(--secondary);
  border: 2px solid var(--secondary);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: var(--primary);
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: var(--secondary);
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: var(--secondary);
  color: var(--primary);
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: #950170;
  border-color: #950170;
}

.quiz-section {
  position: relative;
  /* left: -50%; */
  left: 0;
  width: 100%;
  background: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.8s ease-in-out;
  transition-delay: 0.25s;
}

.quiz-section.active {
  left: 0;
}
